<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inkwell | Library</title>
  <link rel="stylesheet" href="/css/library.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

  <!-- navbar -->
  <div class="container">
    <div class="container__navbar">
      <ul class="navbar__ul">
        <li><a href="/">Home</a></li>
        <li><a href="/library">Library</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <span class="navbar__logo">Inkwell</span>
      <div class="navbar__login-cart">
        {{#if user }}
          <a href="/profile" class="navbar__username">Profile</a>
          <a href="/auth/logout" class="navbar_logout__link">Logout</a>
        {{else}}
          <div class="navbar__login">
            <a href="/login" class="navbar_login__link">
              <img src="/images/9041309_person_fill_icon.png" class="navbar__login__img" alt="">
              <span>Login</span>
            </a>
          </div>
        {{/if}}
        <div class="navbar__cart">
          <img src="/images/shopping-cart.png" class="navbar__cart__img" alt="">
          <div class="navbar__cart-panel">
            <h2 class="navbar__cart-panel__title">Your cart</h2>
            <div class="navbar__cart-content"></div>
            <div class="total">
              <div class="total-title">Total</div>
              <div class="total-price">$0</div>
            </div>
            <button type="button" class="btn-buy">Buy Now</button>
            <i class='bx bx-x' id="close-cart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end of navbar -->


  <!-- library section -->

  <div class="page__container">
    <div class="page__container__box">
      <h1 class="page__container__h1">Library</h1>
      <div class="page__container__searching">
        <input type="text" id="find" placeholder="Search by title or author" class="page__container__search-box" onkeyup="search()">
      </div>
      <!-- dropdowns -->
      <div class="popup">
        <div class="popup__box">
          <a href="#" class="popup__link">
            <div class="popup__genres">
              <span>Genres</span>
              <img src="/images/211687_down_arrow_icon.png" class="popups__genres__arrow-down">
            </div>
          </a>
          <div class="popup__show-ul">
            <ul class="popup__ul">
              <li><a href="">Fantasy</a></li>
              <li><a href="">Psychology</a></li>
              <li><a href="">Fiction</a></li>
              <li><a href="">Non-fiction</a></li>
              <li><a href="">Horror</a></li>
              <li><a href="">Philosophy</a></li>
              <li><a href="">Dystopia</a></li>
              <li><a href="">Novel</a></li>
              <li><a href="">Crime</a></li>
              <li><a href="">Self-help</a></li>
              <li><a href="">Personal growth</a></li>
              <li><a href="">Leadership</a></li>
              <li><a href="">Diary</a></li>
              <li><a href="">Finance</a></li>
              <li><a href="">Fable</a></li>
              <li><a href="">Treatise</a></li>
              <li><a href="">Thriller</a></li>
              <li><a href="">Diet</a></li>
              <li><a href="">Biography</a></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- books -->
      
      <section class="library__container">
        {{#each books}}
        <div class="library__container__block product">
          <a href="/book/{{this.id}}">
            <div class="library__container__book-cover">
              <img src="{{this.image}}" class="book-cover-img">
            </div>
          </a>
          <div class="library__container__book-info">
            <div class="book-info__copy">
              <p class="book-info__copy__title">{{this.title}}</p>
              <p class="book-info__copy__author"><b>Author:</b> {{this.author}}</p>
              <p class="book-info__copy__genre"><b>Genre:</b> {{this.genre}}</p>
              <p class="book-info__copy__date"><b>Date:</b> {{this.date}}</p>
              <p class="book-info__copy__price">{{this.price}}</p>
            </div>
            <div class="book-info__grid-end">
              <button class="book-info__add-to-cart">Add to cart</button>
            </div>
          </div>
        </div>
        {{/each}}
      </section>

    </div>
  </div>

  
  <script src="/js/filter-search.js"></script>
  <script src="/js/onclick-genres.js"></script>
  <script src="/js/certain-genre.js"></script>
  <script src="/js/cart.js"></script>
</body>
</html>
